<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nilou Zafari</title>
    <link rel="stylesheet" href="style.css">
<link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
</head>

<style>

    #heads{
        color: #333;
        text-align: center;
    }
</style>

<body>
    <div id="banner">
        <div id="banner-content">
            <h1>Nilou Zafari</h1>
            <img src="Screenshot 2023-12-18 224031.png" alt="image" class="profile-image">
            <a href="/">Home</a>
            <a href="/resume">Resume</a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
            <a href="/recent">Recent Projects</a>
            <a href="/blog">Blog</a>
            
        </div>
    </div>
<h1 id="heads">About Me</h1>
    <div id="intro"> Hello there! My name is Nilou Zafari and I am a Computer Science student at the University of Maryland College Park.<br>
        In my free time, I enjoy traveling, hiking, and learning new concepts. <br>
    </div>
<br><br><br><br><br><br><br><br><br><br>
        <div id="footer">
            Lets keep in touch!<br><br>
            <a href="https://www.linkedin.com/in/niloufar-zafari-979724291" target="_blank">
                <img src="LI-In-Bug.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/Niloo74" target="_blank">
                <img src="github-mark.png" alt="GitHub">
            </a>
            <a href="https://www.instagram.com/lily_zaf1" target="_blank">
                <img src="Instagram_Glyph_Black.png" alt="Instagram">
            </a>
            
        </div>
    </body>

</html>
