<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Recent</title>
    <link rel="stylesheet" href="style.css">

<link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
<style>
    #intro{
       flex-direction: column;
       text-align: left;
       margin-left: 5%;
    }
    .desc{
        margin-left: 1%;
    }
</style>

</head>
<body>
    <div id="banner">
        <div id="banner-content">
            <h1>Nilou Zafari</h1>
            <img src="Screenshot 2023-12-18 224031.png" alt="image" class="profile-image">
            <a href="/">home</a>
            <a href="/resume">Resume</a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>

            <a href="/recent">Recent Projects</a>
            <a href="/blog">Blog</a>
            
        </div>
    </div>

    <div id="intro">   
    <h2> <a href="https://github.com/Niloo74/project-6-Niloo74-main">Lambda Calculus interpreter(Ocaml)</a></h2><br> 
    <h2> <a href="https://github.com/Niloo74/NFA--DFA-Python-">NFA -> DFA converter (Python)</a></h2><br> 
    <h2> <a href="https://github.com/Niloo74/NFA--DFA-Ocaml-">NFA -> DFA converter (Ocaml) </a></h2><br>   
    <h2> <a href="https://github.com/acastillo0407/CMSC335Final">Weather API (JavaScript)<br></a></h2><div class="desc"></div>
    
    <h1>Data Structures</h1>
    <h2> <a href="urlShort">Morse Coder Translator (Java) <br></a></h2><div class="desc">Trees</div>
    <h2> <a href="https://github.com/Niloo74/Elephant-links">Linked Elephants (C) <br></a></h2><div class="desc">Linked lists</div>
    <h2> <a href="https://github.com/Niloo74/StringGraph">String Graph (C)<br></a></h2><div class="desc">Linked List</div>
    
    </div>
<br>

</div>






        <div id="footer">
            Lets keep in touch!<br><br>
            <a href="https://www.linkedin.com/in/niloufar-zafari-979724291" target="_blank">
                <img src="LI-In-Bug.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/Niloo74" target="_blank">
                <img src="github-mark.png" alt="GitHub">
            </a>
            <a href="https://www.instagram.com/lily_zaf1" target="_blank">
                <img src="Instagram_Glyph_Black.png" alt="Instagram">
            </a>
            
        </div>
    </body>

</html>
