<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Your Name - Resume</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">

</head>

<style>
    
    #heads{
        text-align: center;
        color: #333;
    }

</style>

<body>
    <div id="banner">
        <div id="banner-content">
            <h1>Nilou Zafari</h1>
            <img src="Screenshot 2023-12-18 224031.png" alt="image" class="profile-image">
            <a href="/">Home</a>
            <a href="/resume">Resume</a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
            <a href="/recent">Recent Projects</a>
            <a href="/blog">Blog</a>
        </div>
    </div>
<h1 id="heads">Resume</h1>
    <main>
        <div class="left-section">
            <div class="bordered-section">
                <h2>Soft Skills</h2>
                <ul>
                    <li>Communication</li>
                    <li>Teamwork</li>
                    <li>Problem-solving</li>
                    <li>Adaptability</li>
                </ul>
            </div>
            <div class="bordered-section">
                <h2>Technical Skills</h2>
                <ul>
                    <li>Java</li>
                    <li>Python</li>
                    <li>Rust</li>
                    <li>Ocaml</li>
                    <li>C</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>PHP</li>
                    <li>JavaScript</li>
                    <li>MATLAB </li>
                    
                    <!-- Add more technical skills as needed -->
                </ul>
            </div>
            
            <div class="bordered-section">
                <h2>Tools</h2>
                <ul>
                    <li>Eclipse </li>
                    <li> Visual Studios</li>
                    <li>Unity</li>
                    <li> Emacs</li>
                    <li>Junit</li>
                    <li>XAMPP</li>
                    <li>Node JS</li>
                    <li>APIs</li>
                    <li>MongoDB</li>
                    <li>APIs</li>
                    
                    <!-- Add more technical skills as needed -->
                </ul>
            </div>
            <div class="bordered-section">
                <h2>Education</h2>
                <ul>
                    <li><strong>University of Maryland College Park</strong>, Computer Science, Graduation Date: Fall 2023</li>
                </ul>
            </div>
        </div>

        <div class="right-section">
            <section class="projects">
                <h2>Projects</h2>
                <ul>
                    <li><strong>Lambda Calculus interpreter</strong>, Ocaml</li>
                    <li> 
                        created and implemented a lexer, top down parser, evaluator, and  compiler 
                        for lambda calculus expressions.                    
                    </section>
                        <ul><br>
                    <li><strong>MIPS assembly</strong></li>
                    <li>
                        Created a MIPS assembly simulator. (c)</li><br>
                    <li><strong>Morse Code translator</strong>, Java</li>
                    <li>
                        Created a program to encode and decode Morse Code sequences using tree
                        data  structures.</li><br>
                    <li><strong>NFAs</strong>, Ocaml</li>
                    <li>
                        Created  a program to create Nondeterministic Finite Automata, convert  
                        Nondeterministic Finite Automata to Deterministic Finite Automata, and
                        create Finite Automata for corresponding Regular Expressions.</li><br>
                    <li><strong>Woof I’m Hungry click adventure game</strong> </li>
                    <li>
                        Created a click adventure game using C# and Unity 2d</li>
                        </ul>
             </section>
                </div>
            </main>
        
            <footer>
                <div id="footer">
                    Lets keep in touch!<br><br>
                    <a href="https://www.linkedin.com/in/niloufar-zafari-979724291" target="_blank">
                        <img src="LI-In-Bug.png" alt="LinkedIn">
                    </a>
                    <a href="https://github.com/Niloo74" target="_blank">
                        <img src="github-mark.png" alt="GitHub">
                    </a>
                    <a href="https://www.instagram.com/lily_zaf1/" target="_blank">
                        <img src="Instagram_Glyph_Black.png" alt="Instagram">
                    </a>
                    
                </div>
             </footer>
        </body>
        
        </html>
